.menu-button {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
  overflow: hidden;
}

.menu-button span {
  position: absolute;
  top: 12.5px;
  left: 3px;
  height: 4px;
  width: 24px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  margin: auto;
}

.menu-button span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  height: 4px;
  width: 24px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.menu-button span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  height: 4px;
  width: 24px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.menu-button.active span {
  background-color: transparent;
}

.menu-button.active span::before {
  transform-origin: 1px;
  transform: rotate(-45deg);
}

.menu-button.active span::after {
  transform-origin: 0;
  transform: rotate(45deg);
}
