.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px;
  top: 0;
  position: absolute;
}

.navbar * {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.menu-items * {
  color: teal;
}

.menu-items *:focus {
  color: aqua;
  outline: none;
}

.menu-items *:hover {
  color: rgb(1 99 99);
}

.menu-items *:hover:active {
  color: goldenrod;
}

.main-menu {
  display: flex;
  color: white;
  flex-direction: row;
}
